# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/

# Archives
*.rar
*.zip
*.7z

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.user

# Logs
*.log
